@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.root-container {
  height: 100vh;
  width: 100vw;
}

.header-container {
  position: relative;
  height: 6rem;
  display: flex;
  justify-content: center;
}

.greeting-container {
  width: 18%;
  height: 45%;
  translate: -50% -50%;
}

.greeting-wrapper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.greeting-conent {
  margin-top: 100rem !important;
}


.wave-emoji {
  font-size: 4rem;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

