@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-container {
  color: black;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lobster Two", cursive;
  margin-left: 15px;
}

.logo {
  height: 4.2rem;
  width: 4.5rem;
  margin-right: 0.5rem;
}

.switcher {
  border: 1px solid black;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
}

.listitem {
  color: black;
  font-size: 18px;
  border: 2px solid #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin: 30px;
  border-radius: 5px;
}

.listitem-logo {
  padding: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.listitem {
  line-height: 30px;
  padding: 0px;
}

.listitem:hover {
  transform: translate(0px, -2px);
  background: transparent;
  color: #000000;
}

.listitem span {
  position: relative;
  padding: 0.1px 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.listitem:before,
.listitem:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}

.listitem:before {
  transform: translate(0, 5);
  height: 0%;
  width: 1px;
}

.listitem:after {
  width: 0%;
  height: 1px;
}

.listitem:hover:before {
  height: 100%;
}

.listitem:hover:after {
  width: 100%;
}

.listitem span:before,
.listitem span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}

.listitem span:before {
  width: 1px;
  height: 0%;
}

.listitem span:after {
  width: 0%;
  height: 1px;
}

.listitem span:hover:before {
  height: 100%;
}

.listitem span:hover:after {
  width: 100%;
}

.listitem:active {
  transform: translate(0, 0);
  user-select: none;
}

.navlogo {
  margin: 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.gh-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.lk-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.gm-logo {
  height: 2.3rem;
  width: 2.3rem;
}

.navlogo:hover {
  cursor: pointer;
  transform: translate(0px, -3px);
}

.navlogo:active {
  user-select: none;
  cursor: pointer;
  transform: translate(0px, 0px);
}
