@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.navbar {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.logo-container {
  color: black;
  font-weight: 700;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0.2rem;
}


.navlist {
  display: flex;
  align-items: center;
  list-style: none;
}

.listitem {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
  line-height: 3rem;
  transition: all 0.3s ease;
}

.listitem-active{
  color: rgb(0, 255, 0);
}

.listitem:hover {
  cursor: pointer;
}

.listitem-logo {
  padding: 1rem;
}
.navlogo {
  margin: 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.gh-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.lk-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.gm-logo {
  height: 2.3rem;
  width: 2.3rem;
}

.navlogo:hover {
  cursor: pointer;

}

