@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bodoni+Moda&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.top-wrapper{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 5%;

}


.logo-container{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  margin-left: 15px;
}

.logo{
  height: 4.2rem;
  width: 4.5rem;
}

.navbar {
  position: relative;
  background-image: radial-gradient(
    circle 911px at 8.6% 27.9%,
    rgba(123, 182, 255, 0.44) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  width: 75vw;
  height: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.31);
  border-radius: 20px;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
}

.listitem {
  font-size: 24px;
  border: 1px solid #000;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin: 30px;
  border-radius: 3px;
}

.listitem-logo{
  padding:10px;
  margin-left: 10px;
  margin-right: 5px;
}

.listitem {
  line-height: 30px;
  padding: 0px;
}
.listitem:hover {
  transform: translate(0px, -2px);
  background: transparent;
  color: #000;
  box-shadow: 0px 1px 10px rgb(236, 151, 255);
}
.listitem span {
  position: relative;
  padding: 0.1px 20px;
  display: block;
  width: 100%;
  height: 100%;
}
.listitem:before,
.listitem:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.listitem:before {
  transform: translate(0, 5);
  height: 0%;
  width: 1px;
}
.listitem:after {
  width: 0%;
  height: 1px;
}
.listitem:hover:before {
  height: 100%;
}
.listitem:hover:after {
  width: 100%;
}
.listitem span:before,
.listitem span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.2s ease;
}
.listitem span:before {
  width: 1px;
  height: 0%;
}
.listitem span:after {
  width: 0%;
  height: 1px;
}
.listitem span:hover:before {
  height: 100%;
}
.listitem span:hover:after {
  width: 100%;
}

.listitem:active {
  box-shadow: 0px 1px 25px rgb(236, 151, 255);
  transform: translate(0, 0);
  user-select: none;
}

.navlogo {
  height: 50px;
  width: 50px;
  margin: 10px;
  top: 1px;
  position: relative;
  transition: all 0.2s ease;
}

.gh-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.lk-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.gm-logo {
  height: 2.3rem;
  width: 2.3rem;
  position: relative;
}

.navlogo:hover {
  cursor: pointer;
  transform: translate(0px, -2px);
}

.navlogo:active {
  user-select: none;
  cursor: pointer;
  transform: translate(0px, 0px);
}
